Pillow
scikit-learn 
pandas 
numpy
matplotlib
streamlit
streamlit-option-menu
PyPDF2
seaborn
googlesearch-python
youtube-search-python
cohere
wordcloud
ollama
google.generativeai
langchain_community
